<section class="container page">
  <article>
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">
          {{ .Title }}
        </a>
      </h1>
    </header>

    {{ .Content }}
    <footer>
      {{ partial "posts/share.html" . }}
    </footer>
  </article>
</section>

<button id="back-to-top" title="Go to top" onclick="scrollToTop()" style="
    display: none; 
    position: fixed; 
    bottom: 60px; 
    right: 20px; 
    z-index: 99; 
    border: 1px solid #424242; 
    outline: none; 
    background-color: #424242; 
    color: #ffffff; 
    cursor: pointer; 
    border-radius: 6px; 
    font-size: 15px;
    transition: opacity 0.3s;
    width: 3rem;
    height: 3rem;
">⬆</button>

<script>
    const topBtn = document.getElementById("back-to-top");

    // Show button when user scrolls down 400px
    window.onscroll = function() {
        if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
            topBtn.style.display = "block";
        } else {
            topBtn.style.display = "none";
        }
    };

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
</script>