<li>
  <img 
    class="date-badge"
    src="https://img.shields.io/badge/{{ .Date.Format "2006--01--02" }}-blue?style=for-the-badge" 
    alt="date badge"
  />

  <div>
    <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">
      {{ .Title }}
    </a>

    <p class="description">
      <small>
        {{ with .Params.description }}
          {{ . }}...
        {{ else }}
          {{ .Summary }}
        {{ end }}
        <a class="read-more" href="{{ .Params.externalLink | default .RelPermalink }}">
          Read more →
        </a>
      </small>
    </p>
  </div>
</li>