<h1 style="margin-bottom: 0; padding-bottom: 0;">{{ .Site.Params.author }}</h1>
{{ if reflect.IsSlice .Site.Params.info }}
<h2>{{ range .Site.Params.info }}{{ . | markdownify }}<br>{{ end}}</h2>
{{ else }}
<h2><div id="changing-text"></div></h2>
{{ end }}
{{ with .Site.Params.featured }}
<span>{{ range . }}    
  {{ if .description }}
    <div class="description-box">
      {{ .description }}
      <a href="{{ .link }}" class="arrow-button" target="_blank">
        &#8594; </a>
    </div>
  {{ end }}
{{ end }}</span>
{{ end }}

<div class="intro-bridge">
  Since you made it this far, <a href="{{ "/about" | relURL }}">let me introduce myself</a>.
</div>
<style>
    /* New Style for the Intro Message */
    .intro-bridge {
        margin-top: 25px;
        font-size: 0.9em;
        color: #888;
        font-style: italic;
    }
    .intro-bridge a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        transition: border-bottom 0.3s ease;
    }
    .intro-bridge a:hover {
        border-bottom: 1px solid #fff;
    }

    #changing-text {
        margin-top: 0;
        padding-top: 0;
    }

    /* Style for the shadow box */
    .description-box {
        padding: 10px;              
        margin-top: 10px;           
        display: inline-block;       
        font-size: 0.8em;           
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        border-radius: 5px;         
        background-color: #105eac; 
        color: white;
    }

    /* Style for the arrow button */
    .arrow-button {
        display: inline-block;       
        margin-left: 10px;          
        text-decoration: none;       
        color: #007bff;             
        font-size: 1.2em;           
        transition: color 0.3s;     
    }

    .arrow-button:hover {
        color: #0056b3;             
    }
</style>

<script>
    // JavaScript code remains exactly as you had it
    const changingText = document.getElementById('changing-text');
    const infoLS = {{ .Site.Params.info }};

    function processItemsinfo(index) {
        if (index <= infoLS.length) {
            changingText.textContent = infoLS.substring(0, index) + "|";

            setTimeout(function () {
                processItemsinfo(index + 1);
            }, 200); 
            if (index == infoLS.length) {
                changingText.textContent = infoLS.substring(0, index);
                setTimeout(function () {
                    processItemsinfo(index);
                }, 200); 
            }
        }
    }

    processItemsinfo(0); 
</script>